<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/index :: head">
</head>
<body>

	<nav th:replace="fragments/index :: offer-nav"></nav>

	<nav th:replace="fragments/index :: navigation"></nav>
	<hr>
		<div class="row row-cols-2 row-cols-md-5 g-4 abovecards">
			<div class="col" th:each="image: ${images}">
				<div class="image-card card h-100">
					<a th:href="@{'/product/' + ${image.Id}}"
					   style="text-decoration: none">
						<img th:src="${image.productPath}" class="card-img-top"
							alt="Skyscrapers" />
						<div class="card-body image-card-body text-dark">
							<h5 class="card-title" th:text="${image.productName}"></h5>
							<p class="card-text" th:text="${image.productDescription}"></p>
						</div>
					</a>
				</div>
			</div>
		</div> 


		<div th:replace="about-us :: about-us"></div>

		<div th:replace="footer :: footer"></div>
</body>
</html>
