<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/index :: head"></head>

<body>
	<div th:fragment="multicard-best-offers-carousel">
		<div class="container-fluid">
			<div class="row row-scroll">
				<!-- Loop through products and display them in cards -->
				<div class="col-md-12">
					<div class="card-deck">
						<a th:each="product : ${bestofferproduct}" class="card multi-card">
							<img th:src="${product.productPath}" class="card-img-top"
								alt="Skyscrapers" />
							<div class="card-body">
								<p class="card-title multi-card-title" th:text="${product.productName}"></p>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>
</html>